body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.links {
  display: flex;
  justify-content: space-around;
}
