body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
}

p {
  line-height: 1.75;
  margin-bottom: 15px;
}

.main-container {
  width: 90vw;
  margin-top: 35px;
  height: 95vh;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.main-container::-webkit-scrollbar {
  display: none;
}

.header {
  align-items: center;
  justify-content: center;
  margin: auto;
}
/* .header {
  position: sticky;
  top: 0;
  z-index: 1000;

  background: white;
  padding: 10px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
} */

.link-reset {
  text-decoration: none;
  color: inherit;
}

.red-text {
  font-family: "Brush Script MT";
  color: red;
  margin: auto;
}

.logo {
  margin-bottom: -30px;
}

.links {
  width: 60%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}

.panes {
  width: 800px;
  height: 450px;
  display: flex;
  perspective: 1400px;
  overflow: hidden;
  margin: auto;
}

.pane {
  flex: 1;
  position: relative;
}

.pane-inner {
  position: absolute;
  inset: 0;
  transform-style: preserve-3d;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.pane.flipped .pane-inner {
  transform: rotateY(180deg);
}

.face {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  background-size: calc(800px) 450px;
  background-position-x: calc(-1 * var(--i) * (800px / var(--count)));
}

.front {
  background-image: url("rocks.png");
  opacity: 75%;
}

.back {
  background-image: url("lab.png");
  transform: rotateY(180deg);
  opacity: 75%;
}

.about {
  width: 80vw;
  max-width: 500px;
  text-align: left;
  margin: auto;
}

@media (max-width: 768px) {
  .links {
    flex-direction: column;
    align-items: center;
    gap: 7px;
  }

  .panes {
    display: none;
  }
}
